body {

    color: #40514e;
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}

hr {
    border: dotted #bad3bd 6px;
    width: 4%;
    border-bottom: none;
    margin: 100px auto;
}


.firstpara {
    width: 30%;
    margin: auto;
}

.top-container {
    background-color: #F8F4EA;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    padding: 50px 0;
    background-color: #F8F4EA;
}

.bottom-container {
    padding: 30px 0;
    height: 400px;
    background-color: #bad3bd;
    height: 200%;
}

.self {
    position: fixed;
    left: 50px;
    top: 30px;
}

.contact-me {
    padding: 20px 0;
    line-height: 2.5;

}

img {
    background-color: #F8F4EA;
    border-radius: 100%;
}

.skill-row {
    width: 50%;
    text-align: left;
    margin: 100px auto 100px auto;
}

h1 {
    width: 10;
    color: #66bfbf;
    line-height: 1;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    /*Root EM*/
    font-size: 5.625rem;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #66bfbf;
    font-weight: normal;
    font-size: 2.25rem;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999e;
}

div {
    background-color: #F8F4EA
}

.topclo {
    position: absolute;
    right: 200px;
    top: 50px;
}

.bottclo {
    position: absolute;
    left: 250px;
}

.finance-img {
    float: left;
    margin-right: 30px;
}

.mgmt-img {
    float: right;
    margin-left: 30px;
}

.Docum-img {
    float: left;
    margin-right: 30px;
}

.sales-img {
    float: right;
    margin-left: 30px;
}

.quali-img {
    float: left;
    margin-right: 30px;
}

.btn {
    background: #89cdfa;
    background-image: -webkit-linear-gradient(top, #89cdfa, #0989d9);
    background-image: -moz-linear-gradient(top, #89cdfa, #0989d9);
    background-image: -ms-linear-gradient(top, #89cdfa, #0989d9);
    background-image: -o-linear-gradient(top, #89cdfa, #0989d9);
    background-image: linear-gradient(to bottom, #89cdfa, #0989d9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #b8dbf0;
    background-image: -webkit-linear-gradient(top, #b8dbf0, #87c1e8);
    background-image: -moz-linear-gradient(top, #b8dbf0, #87c1e8);
    background-image: -ms-linear-gradient(top, #b8dbf0, #87c1e8);
    background-image: -o-linear-gradient(top, #b8dbf0, #87c1e8);
    background-image: linear-gradient(to bottom, #b8dbf0, #87c1e8);
    text-decoration: none;
}

p {
    line-height: 2;
}

.copyright {
    color: #eaf6f6;
}

.footer-link {}

a {
    color: #6fa7d3;
    margin: 10px 20px;
    padding: 40px 0;
    text-decoration: none;
}

a:hover {
    font-size: 0.75rem;
    color: #eaf6f6;
}